<template>
  <div class="input"
       :class="{'input__focus': focus}">
    <input :type="[{'text': isShowPassword}, {'password': !isShowPassword}]"
           class="input__field">
    <span class="input__label">{{ label }}</span>
    <div class="input__icons"
         @click="showPassword">
      <eye-off-outline-icon v-if="isShowPassword"/>
      <eye-outline-icon v-else/>
    </div>
  </div>
</template>

<script>
  import EyeOutlineIcon from '../../node_modules/vue-material-design-icons/EyeOutline';
  import EyeOffOutlineIcon from '../../node_modules/vue-material-design-icons/EyeOffOutline';
  export default {
    name: 'input',
    componets: {
      EyeOutlineIcon,
      EyeOffOutlineIcon
    },
    props: {
      label: {
        type: String,
        default: 'Enter password'
      }
    },
    data() {
      name: "input-password"
      return {
        focus: false,
        isShowPassword: true
      }
    },
    methods: {
      showPassword() {
        this.isShowPassword = !this.isShowPassword
      }
    },
  }
</script>

<style>

</style>
